<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ "veidu-atpažinimas" }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico') }}">
</head>
<body>
    <div id="app"></div>
    {% block javascripts %}
        <script src="{{ asset('build/js/index.js') }}" async></script>
    {% endblock %}
</body>
</html>
